.feedback {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 16px 12px 16px 12px;
    cursor: grab;
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color-black);
}

.text {
    height: 100px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
}