.dropdown {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.button {
  cursor: pointer;
  font-style: inherit;
  font-weight: inherit;
  font-size:  inherit;
  line-height: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  color: #ffffff;
  background-color: var(--btn-color-violet);
  border: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8px 10px 16px;
}

.arrow {
  position: relative;
  float: right;
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
  transform: rotate(0);
}

.arrow::after {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 2px;
  height: 12px;
  content: "";
  background-color: #ffffff;
  border: 0;
  border-radius: 1px;
  transform: rotate(-45deg);
}

.arrow::before {
  position: absolute;
  top: 25%;
  right: 30%;
  width: 2px;
  height: 12px;
  content: "";
  background-color: #ffffff;
  border: 0;
  border-radius: 1px;
  transform: rotate(45deg);
}

.body {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: -100%;
  width: 100%;
  pointer-events: none;
  color: #ffffff;
  background-color: var(--btn-color-violet);
  border-radius: 0 0 4px 4px;
}

.visible {
  position: static;
  height: 100%;
}

.active {
  border-radius: 4px 4px 0 0;
}

.dropdown > .button.active > .arrow {
  transform: rotate(180deg);
}
