.radio {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
}
.radio input[type=radio] {
    display: none;
}
.radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 32px;
    line-height: 24px;
    user-select: none;
}
.radio label:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("/src/images/radio-off.svg") 0 0 no-repeat;
}

/* Checked */
.radio input[type=radio]:checked + label:before {
    background: url("/src/images/radio-on.svg") 0 0 no-repeat;
}

/* Hover */
.radio label:hover:before {
    filter: brightness(120%);
}

/* Disabled */
.radio input[type=radio]:disabled + label:before {
    filter: grayscale(100%);
}