.category_item {
  height: fit-content;
  width: 32%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.title {
/*  border: solid red 1px;*/
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: start;
  width: 238px;
  height: 60px;
}

.services_content {
  padding: 16px 24px 16px 24px;
  width: 100%;
/*  border: solid red 1px;*/

}

.services_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  padding: 0px 0px 0px 0px;
}

.services_bold {
  font-weight: 700;
}

.services_list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  padding: 16px 0px 0px 16px;
/*  border: solid red 1px;*/
}

.services_item {
  margin-bottom: 10px;
}

.price {
  margin-bottom: 16px;
}

.services_price {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 4px;
}

.services_price_desc {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.services_price_desc_bottom {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: start;
}


.button {
  margin-top: 28px;
  margin-bottom: 16px;
}
