.container {
    width: var(--device-width);
    background-color: var(--bg-main);
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    min-height: 88px;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.text {
    padding-left: 14px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--text-color-black);
    width: 110px;
}