.container {
    display: flex;
    flex-direction: column;
    max-width: var(--device-width);
    min-height: 100vh;
    background-color: var(--bg-main);
    overflow: hidden;
}

.main {
    margin-top: 20px;
    padding: 0 7%;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 32px;
}

.point {
    display: flex;
    margin-top: 8px;
    align-items: center;
}

.point:nth-child(1) {
    margin-top: 0;
}

.ml8 {
    margin-left: 8px;
}

.mt56 {
    margin-top: 56px;
}

.mb116 {
    margin-bottom: 116px;
}

.text {
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color-black);
}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: var(--text-color-black);
    margin-bottom: 16px;
}

.subtitle {
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color-black);
}

.hr {
    margin: 24px 0;
    border: 1px solid #BFB7B3;
}

.summary {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
    color: #496EF1;
    cursor: pointer;
    margin-bottom: 24px;
}

.list {
    padding-left: 24px;
    color: var(--text-color-black);
    font-size: 14px;
    line-height: 16px;
}

.list:last-child {
    margin-bottom: 24px;
}

.item {
    margin-top: 4px;
}

.item:nth-child(1) {
    margin-top: 0;
}

.feedback {
    margin-bottom: 24px;
}

.swiper {
    padding: 0 24px;
}

