.courses {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-main);
    width: var(--device-width);
    padding: 195px 11% 430px 11%;
}

.courses_container {
/*  hegth: auto;*/
/*  margin: 0px 12% 0px 12%;*/
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px 5px;
}

.title_row {
    display: flex;
    margin-bottom: 56px;
    align-items: center;
/*    justify-content: center*/;
/*    margin: 0px 12% 0px 12%;*/
}

.title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: var(--text-color-black);
    margin-right: 16px;
}