.courses {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-main);
    width: var(--device-width);
    padding: 0 14px;
}

.title_row {
    display: flex;
    margin-bottom: 24px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: var(--text-color-black);
    margin-right: 10px;
}