.menu {
  
}

.menu__box {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 48px;
}

.menu__item {
  text-decoration: none;
  white-space: nowrap;
  color: #444444;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin: 0px 0px 0px 40px;
}

.menu__item:hover {
  background-color: #BFB7B3;
}