.course {
    text-decoration: none;
    width: 100%;
    display: flex;
    background-color: #fff;
    height: 215px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 16px;
}

.img {
    overflow: hidden;
    max-width: 35%;
}

.description {
    padding: 8px 12px 12px 12px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--text-color-black);
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 12px;
}

.point {
    display: flex;
    margin-top: 8px;
    align-items: center;
}

.point:nth-child(1) {
    margin-top: 0;
}

.ml8 {
    margin-left: 8px;
}

.mt56 {
    margin-top: 56px;
}

.mb116 {
    margin-bottom: 116px;
}

.text {
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color-black);
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: var(--text-color-black);
    margin-bottom: 4px;
}

.about {
    font-family: 'Roboto', sans-serif;
    width: 150px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--text-color-black);
}