.award {
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: center;
}

.award_img {
  width: 96px;
  margin-bottom: 8px;
}

.award_desc {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
